
<table >
  <tr>
    <td>
       <!--<app-pipes></app-pipes>-->
       <app-validation></app-validation>
    </td>
  </tr>
</table> 

<!--<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      Home</a></li>
    <li><a routerLink="/app-add-employee" routerLinkActive="active" ariaCurrentWhenActive="page">
      About</a></li>
    <li><a routerLink="/app-employee-list" routerLinkActive="active" ariaCurrentWhenActive="page">
      Contact</a></li>
  </ul>
  
</nav>
<router-outlet></router-outlet> -->